.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(79deg, rgb(225, 140, 225), rgb(235, 172, 133),rgb(235, 232, 133) );
  color: #fff;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  padding: 5rem; 
}

.login-form, .register-form {
  border: 2px solid #fff;
  border-radius: 10px;
}
label {
  text-align: left;
  padding: 0.25rem 0;
}
input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
}
button {
  margin-top: 10px;
  border: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(225, 140, 225);
}
button:hover {
  background: rgb(225, 140, 225);
  color: #fff;
}
.link-btn{
  background: none;
  color: #fff;
  text-decoration: underline;
}